
<h2>Login Form</h2>
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="username">
     </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

  <p> Dont have an Account <a href="Registration"> Sign up</a> </p>
</form>